.logo {
    margin-left: 2rem;
}

.main-menubar { margin-top: 5px; padding-right: 2rem; }
.main-menubar .nav-link { color: #FFF !important; }
.main-menubar .nav-link:hover, .main-menubar .nav-link:focus { color: goldenrod !important; }
.nav-pills .nav-link.active { background-color: goldenrod; }
.nav-pills .nav-link.active:hover, .nav-pills .nav-link.active:focus { color: #FFF !important; }

.movie-link {
    text-decoration: none;
}

.footer {
    margin-top: 3rem;
    color: #FFF;
}

.footer a {  color: #FFF; }
.footer a:hover { color: goldenrod; }


.movies-banner, .shows-banner, .music-banner {
    background: url(../images/movie-banner.jpg) no-repeat; 
    background-position: center center;
    background-size: cover;
    padding-bottom: 7rem;
    margin-bottom: 2rem;
}

.shows-banner { background: url(../images/shows-banner.jpeg) no-repeat; }
.music-banner { background: url(../images/music-banner.jpg) no-repeat; }

.movies-banner h1, .shows-banner h1 { color: #FFF; }